<div class="container">

  <nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
      <li class="nav-item active"><a href="#">Home</a></li>
      <li class="nav-item"><a href="#">About</a></li>
      <li class="nav-item"><a href="#">Contact</a></li>
    </ul>
  </nav>

  <div class="row">
    <div class="col-lg-4">
      <p>This is the text inside of the paragraph. <button type="button" class="btn btn-primary">Blue</button></p>
    </div>
    <div class="col-lg-4">
      <p>This is the text inside of the paragraph. <button type="button" class="btn btn-secondary">Grey</button></p>
    </div>
    <div class="col-lg-4">
      <p>This is the text inside of the paragraph. <button type="button" class="btn btn-success">Green</button></p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <p>This is the text inside of the paragraph. <button type="button" class="btn btn-danger">Red</button></p>
    </div>
    <div class="col-lg-4">
      <p>This is the text inside of the paragraph. <button type="button" class="btn btn-warning">Yellow</button></p>
    </div>
    <div class="col-lg-4">
      <p>This is the text inside of the paragraph. <button type="button" class="btn btn-info">Teal</button></p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <p>This is the text inside of the paragraph. <button type="button" class="btn btn-light">White</button></p>
    </div>
    <div class="col-lg-4">
      <p>This is the text inside of the paragraph. <button type="button" class="btn btn-dark">Black</button></p>
    </div>
    <div class="col-lg-4">
      <p>This is the text inside of the paragraph. <button type="button" class="btn btn-link">Link</button></p>
    </div>
  </div>

</div>
